# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [30]:
input_data = pd.read_csv('../WeatherPy/output_data/cities.csv')
input_data = input_data.dropna()
input_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,guatire,40,VE,1580249736,74,10.48,-66.54,84.20,4.70
1,tukrah,0,LY,1580249736,74,32.53,20.58,56.50,8.48
2,haines junction,26,CA,1580249737,95,60.75,-137.51,8.19,8.72
3,chapais,1,CA,1580249737,61,49.78,-74.85,14.00,6.93
4,severo-kurilsk,92,RU,1580249737,91,50.68,156.12,21.76,5.03

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [54]:
gmaps.configure(api_key=g_key)
fig = gmaps.figure(zoom_level=1.5,center=(0,0))

# Store 'Lat' and 'Lng' into locations
locations = input_data[["Lat", "Lng"]]

# Store humidity
humidity = input_data["Humidity"]

In [55]:
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=humidity.max())
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [56]:
top_cities = input_data.loc[(input_data['Max Temp']<80)&(input_data['Max Temp']>70)&(input_data['Wind Speed']<10)&(input_data['Cloudiness']==0)]
top_cities

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
12,santa vitoria do palmar,0,BR,1580249737,53,-33.52,-53.37,76.53,9.42
45,saskylakh,0,RE,1580249741,73,-21.36,55.77,71.60,6.93
46,sobolevo,0,ZA,1580249741,58,-33.02,27.91,70.75,8.23
88,aguas verdes,0,CF,1580249745,23,5.67,15.97,71.33,5.77
132,cairns,0,UY,1580249502,53,-33.70,-53.46,76.53,9.42
153,tumannyy,0,MZ,1580249751,81,-25.05,33.64,70.18,4.34
200,bolsheustikinskoye,0,MX,1580249756,77,20.87,-90.40,75.33,7.31
308,kazachinskoye,0,RE,1580249767,73,-21.37,55.62,71.60,6.93
316,marand,0,ID,1580249768,90,0.80,127.40,73.54,2.35
325,mahon,0,AU,1580249769,52,-36.32,145.05,71.01,6.89
328,tagbac,0,AU,1580249769,52,-36.37,146.33,73.99,3.36
426,funtua,0,TD,1580249780,11,11.78,17.17,70.97,8.81
456,dingle,0,BR,1580249783,73,-23.76,-45.41,79.59,3.33
464,mezen,0,ML,1580249784,13,20.20,1.01,73.81,8.84
472,toul,0,CD,1580249784,43,1.24,23.62,75.27,0.83

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [101]:
hotel_df = pd.DataFrame(top_cities)
hotel_df['Hotel Name'] = ''

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

target_search = "hotel"
target_radius = 5000
target_type = "lodging"

# set up a parameters dictionary
params = {
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key,
}


for index, city in top_cities.iterrows():
    try:
        target_coordinates = str(city['Lat'])+ ', ' + str(city['Lng'])
        params['location'] = target_coordinates
        print(target_coordinates)
        response = requests.get(base_url, params=params)
        print(response.url)
        response=response.json()
        print(response['results'][0]['name'])
        hotel_df['Hotel Name'][index] = response['results'][0]['name']
#         hotel_df.loc[index].Hotel Name=
#         hotel_df['Hotel Name'].append(response['results'][0]['name'])
        
        
    except IndexError: 
        print('No hotels not found. Skipping...')

hotel_df

-33.52, -53.37
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=-33.52%2C+-53.37
Mirante Hotel
-21.36, 55.77

C:\Users\efeog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=-21.36%2C+55.77
Pinpin d'Amour
-33.02, 27.91
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=-33.02%2C+27.91
Premier Hotels & Resorts
5.67, 15.97
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=5.67%2C+15.97
No hotels not found. Skipping...
-33.7, -53.46
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=-33.7%2C+-53.46
Bertelli Chuí Hotel
-25.05, 33.64
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=-25.05%2C+33.64
No hotels not found. Skipping...
20.87, -90.4
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=20.87%2C+-90.4
Ria Celestun
-21.37, 55.62
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=-21.37%2C+55.62
Les Lodges Vanilliers
0.8, 127.4
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=0.8%2C+127.4
Hotel Emerald
-36.32, 145.05
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=-36.32%2C+145.05
Kyabram Motor Inn
-36.37, 146.33
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=-36.37%2C+146.33
Quality Hotel Wangaratta Gateway
11.78, 17.17
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=11.78%2C+17.17
No hotels not found. Skipping...
-23.76, -45.41
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=-23.76%2C+-45.41
Abricó Beach Hotel
20.2, 1.01
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=20.2%2C+1.01
No hotels not found. Skipping...
1.24, 23.62
https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=hotel&radius=5000&type=lodging&key=AIzaSyCtV5FnIxzQkow-gTr2on5uLY9IWqPyyPI&location=1.24%2C+23.62
Flat Hotel La Benediction

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
12,santa vitoria do palmar,0,BR,1580249737,53,-33.52,-53.37,76.53,9.42,Mirante Hotel
45,saskylakh,0,RE,1580249741,73,-21.36,55.77,71.60,6.93,Pinpin d'Amour
46,sobolevo,0,ZA,1580249741,58,-33.02,27.91,70.75,8.23,Premier Hotels & Resorts
88,aguas verdes,0,CF,1580249745,23,5.67,15.97,71.33,5.77,
132,cairns,0,UY,1580249502,53,-33.70,-53.46,76.53,9.42,Bertelli Chuí Hotel
153,tumannyy,0,MZ,1580249751,81,-25.05,33.64,70.18,4.34,
200,bolsheustikinskoye,0,MX,1580249756,77,20.87,-90.40,75.33,7.31,Ria Celestun
308,kazachinskoye,0,RE,1580249767,73,-21.37,55.62,71.60,6.93,Les Lodges Vanilliers
316,marand,0,ID,1580249768,90,0.80,127.40,73.54,2.35,Hotel Emerald
325,mahon,0,AU,1580249769,52,-36.32,145.05,71.01,6.89,Kyabram Motor Inn
328,tagbac,0,AU,1580249769,52,-36.37,146.33,73.99,3.36,Quality Hotel Wangaratta Gateway
426,funtua,0,TD,1580249780,11,11.78,17.17,70.97,8.81,
456,dingle,0,BR,1580249783,73,-23.76,-45.41,79.59,3.33,Abricó Beach Hotel
464,mezen,0,ML,1580249784,13,20.20,1.01,73.81,8.84,
472,toul,0,CD,1580249784,43,1.24,23.62,75.27,0.83,Flat Hotel La Benediction

In [99]:
hotel_df = hotel_df.dropna(how='any')
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
12,santa vitoria do palmar,0,BR,1580249737,53,-33.52,-53.37,76.53,9.42,Hotel Brasil
45,saskylakh,0,RE,1580249741,73,-21.36,55.77,71.60,6.93,Pinpin d'Amour
46,sobolevo,0,ZA,1580249741,58,-33.02,27.91,70.75,8.23,Premier Hotels & Resorts
88,aguas verdes,0,CF,1580249745,23,5.67,15.97,71.33,5.77,
132,cairns,0,UY,1580249502,53,-33.70,-53.46,76.53,9.42,Gaboto
153,tumannyy,0,MZ,1580249751,81,-25.05,33.64,70.18,4.34,
200,bolsheustikinskoye,0,MX,1580249756,77,20.87,-90.40,75.33,7.31,Ria Celestun
308,kazachinskoye,0,RE,1580249767,73,-21.37,55.62,71.60,6.93,Les Lodges Vanilliers
316,marand,0,ID,1580249768,90,0.80,127.40,73.54,2.35,Hotel Gamalama Indah
325,mahon,0,AU,1580249769,52,-36.32,145.05,71.01,6.89,Kyabram Motor Inn
328,tagbac,0,AU,1580249769,52,-36.37,146.33,73.99,3.36,Quality Hotel Wangaratta Gateway
426,funtua,0,TD,1580249780,11,11.78,17.17,70.97,8.81,
456,dingle,0,BR,1580249783,73,-23.76,-45.41,79.59,3.33,Abricó Beach Hotel
464,mezen,0,ML,1580249784,13,20.20,1.01,73.81,8.84,
472,toul,0,CD,1580249784,43,1.24,23.62,75.27,0.83,Flat Hotel La Benediction

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map